body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #fdf6e3;
    color: #2e3440;
}

h1 {
    color: #d08770;
}

p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    text-align: justify;
    margin: 10px 20px;
    color: #4c566a;
}

.image-container {
    text-align: center;
    margin: 20px 0;
    background-color: #eceff4;
    padding: 10px;
    border-radius: 10px;
}

.image-container img {
    width: 300px;
    height: auto;
    border: 3px solid #bf616a;
}

.styled-button {
    padding: 10px 20px;
    border: 2px solid #2e3440;
    background-color: #a3be8c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.styled-button:hover {
    background-color: #8fbcbb;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #eceff4;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid #5e81ac;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d08770;
    color: white;
}

td {
    background-color: #e5e9f0;
}

form {
    margin: 20px auto;
    width: 50%;
    text-align: left;
    background-color: #eceff4;
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #5e81ac;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    background-color: #bf616a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #a3be8c;
}